<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home Page</title>
        <style>
        .button-group {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        button {
            width: 100px;
            min-height: 30px;
            background-color: #f1c3ba;
        }
        .adminhomepage{
           margin-right: 5px;
        }
        body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f9f4e1;  
}

    </style>
    
    {{>generalcss}}
</head>
<body>

    {{>navbar}}   
    {{>2navbar}} 
    {{!-- <h1 class="adminhomepage">Welcome to admin home page</h1> --}}

    <div class="button-group">
        <a href="/admin/products/all">
        <button>View Products</button>
        </a>
        <a href="/admin/products/add">
         <button>Add Products</button>
        </a>
    </div>
</body>
</html>