<nav>
<a href="/shirt">Shirt</a>
<a href="/tshirt">Tshirt</a>
<a href="/shorts">Short</a>
<a href="/lower">Lower</a>
<a href="/jeans">Jeans</a>
</nav>

{{!-- <nav>
    <!-- Other navbar items -->
    
    <!-- Categories Navbar -->
    <ul>
        <% categories.forEach(category => { %>
            <li><a href="/category/<%= category %>"><%= category %></a></li>
        <% }); %>
    </ul>
</nav> --}}