<nav style="width: auto;">

    <a href="/shop">
      <img src="/imgeee/logo.png-removebg-preview.png" alt="" width="30" height="30">HOME
      </a>
    <form action="/search" method="get">
  <input type="text" name="q" placeholder="Shirt" aria-label="Search" style="width:40%;">
  <button  type="submit" style="border: none; background: none width:auto" >🔎</button>
</form>
  <a href="/shop/cart">🛒</a>
  <a href="/shop/order/history">ORDERS</a>
    {{#if isAuthenticated}}
    <a href="/logout">Logout</a>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
</nav>
