  <nav>
     <div class="container">
    <a class="navbar-brand" href="#">
      <img src="/imgeee/logo.png-removebg-preview.png" alt="" width="30" height="24">
    </a>
  </div>
   {{!-- <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn" type="submit">🔎</button>
    </form>
</div> --}}
   <a href="/shop">HOME</a>
   <a href="/search"></a>
   {{#if isAdmin}}
    <a href="/admin">ADMIN</a>
    {{/if}}
   <a href="/shop/cart">🛒</a>
   <a href="/like">🤍</a>
   <a href="/shop/order/history">ORDERS</a>   
    <a href="/login">LOGIN</a>
</nav>