.button-group{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content:space-around;
    /* margin-top: 2%; */
   /* border: 1px solid rgb(164, 103, 221); */
  /* background-color: gray; */
  /* border-radius: 50px; */
/* column-gap: 25%; */

}

.my-product-image{
    max-width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
       
      
}
button.add-to-cart ,.buy-now {
    display: inline-block;
    padding: 10px 15px;
    margin: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
}
button.details{
    
        display: inline-block;
        padding: 10px 15px;
        margin: 10px 5px;
        border-radius: 5px;
        text-decoration: none;
        font-size: 13px;
}
h4{
      font-size: 18px;
    color: #333;
    margin: 10px 0;
}
p{
    font-size: 16px;
    color: black;
    margin: 5px 0;
}

.my-product-image img{
    width: 200px;
    max-width: 100%;
    height: 300px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.productLink:link{
    color: black;
    text-decoration: none;


}
.productLink:hover{
    color: blue;
    text-decoration: underline;
}


